#header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkslategrey;
    color: ghostwhite;
    
}

#welcome_text {
    text-align: center;
    background-color: darkgray;
}