<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock/Paper/Scissors Browser Game</title>
</head>
<body>
    <header id="header">
        <h1>
            Rock Paper Scissors
        </h1>
    </header>
    {% for game in games %}
    <div id="current_results">
        <p>
            {{ game.player1_name }}, {{ game.player1_choice_move }}, {{ game.player2_name }}, {{ game.player2_choice_move }}
        </p>
    </div>
    {% endfor %}
</body>
</html>