<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/game_style.css">
    <title>Rock/Paper/Scissors Browser Game</title>
</head>
<body>
    <header id="header">
        <h1>
            Rock Paper Scissors
        </h1>
    </header>
    <div id="welcome_text">
        <img src="static/rps.gif" alt="rock,paper,scissors gif" width="100%">
        <p>
            Welcome to Rock Paper Scissors!<br>
            To begin please enter your choices into the address bar above e.g. 127.0.0.1:5000/rock/scissors
        </p>
    </div>
</body>
</html>