<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game_style.css') }}" />    <title>{{ title }} - Game In Progress</title>
</head>
<body>
    <header id="game_header">
        <h1>
            Result
        </h1>
    </header>
    <img src="/static/therock.png" alt="The Rocks Personas" width="100%" >
    <div id="result_text">
    <p>
        {{ winner }}!
    </p>
</div>
</body>

</html>